* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 840px;
    width: 100%;
    margin: 0 auto;
}

.title {
    text-align: center;
    margin: 40px 0;
}

.box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

    .elem {
        padding: 24px;
        background-color: #F0F0F0;
        border: 1px solid #007FFF;
        border-radius: 10px;

        h3 {
            margin-bottom: 14px;
            font-size: 18px;
        }

        p {
            font-size: 14px;
        }

        button {
            width: 100%;
            height: 42px;
            border-radius: 4px;
            color: white;
            background-color: #0071E3;
            border: none;
            margin-top: 24px;
        }
    }
}